---
import { getCollection, render } from "astro:content";


const information = await getCollection("info");

const { info } = Astro.props
const { data } = info
const { title } = data

const { Content } = await render(info);

export const prerender = true
---

<h2>{title}</h2>
<p>
    <Content/>
</p>