---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
	href: string;
	currentPath: string;
	Name: string;
};

const { href, currentPath, Name } = Astro.props;
---

<a
	href={href}
	transition:name={Name}
	class:list={[
		"px-3 py-[7px] text-sm font-medium",
		currentPath === href
			? "bg-[#ECECEC] text-[#111]"
			: "bg-[#f5f5f5] text-[#111]",
	]}
>
	<slot />
</a>
