---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Footer from '@/components/common/Footer.astro';

---

<BaseLayout>
    <main class="w-full h-screen">
        <h1>Academico</h1>
    </main>
    <Footer/>
</BaseLayout>
