---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Message from "@/components/common/Message.astro";
---

<BaseLayout>
    <main class="h-screen w-full">
        <Message />
    </main>
</BaseLayout>
