---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Footer from '@/components/common/Footer.astro';
import Message from '@/components/common/Message.astro';
---

<BaseLayout>
    <main class="w-full h-screen">
        <Message/>
    </main>
    <Footer/>
</BaseLayout>