---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'> & {
    href: string;
    currentPath: string;
    Name: string;
};

const { href, currentPath, Name } = Astro.props;
---

<a 
	href={href} 
    transition:name={Name}
	class:list={[
		"px-3 py-2 text-sm font-medium",
		currentPath === href
			? "bg-[#ECECEC] text-[#111]"
			: "text-gray-600 hover:text-[#111]"
	]} 
>
	<slot />
</a>