---
import { Alert, AlertDescription } from "@/components/ui/alert"
---
<div class="w-full bg-primary">
    <Alert variant="default" className="bg-[#CE3C3E] text-white border-none rounded-none max-w-none">
        <AlertDescription>
            <slot />
        </AlertDescription>
    </Alert>
</div>