---
import { Hourglass } from "lucide-react";
---

<div class="flex justify-center items-center bg-neutral-50 h-full w-full">
    <div class="flex flex-row items-center">
        <Hourglass strokeWidth={2.5} size={25} className="mx-5" />
        <h1 class=" font-medium text-3xl"> Pronto disponible</h1>
    </div>
</div>