---
// Global imports
import '@/index.css'
// Local imports
import { metadata } from '@/data/metadata';
import Header from '@/components/Header.astro';
import BaseHead from '@/components/BaseHead.astro';
import TopAlert from '@/components/TopAlert.astro';

// current path
const currentPath = Astro.url.pathname;

// metadata
const pageMetadata = metadata[currentPath] || {};

/*
const fecha = new Date();
const opciones = { weekday: 'long', day: 'numeric', month: 'long' };
const fechaFormateada = fecha.toLocaleDateString('es-ES', opciones);

// Capitalizar la primera letra
const fechaCapitalizada = fechaFormateada.charAt(0).toUpperCase() + fechaFormateada.slice(1);
*/

---


<!doctype html>
<html lang="es-MX">
	<head>
		<BaseHead {...pageMetadata} />
	</head>
	<body class="overflow-x-hidden">
		<TopAlert>
			⚡ Acceso anticipado. ¡Explórala mientras la mejoramos!
		</TopAlert>
		<Header/>
		<slot />
	</body>
</html>