---
// Global imports
import '@/index.css'
// Local imports
import { metadata } from '@/data/metadata';
import Header from '@/components/Header.astro';
import BaseHead from '@/components/BaseHead.astro';
import TopAlert from '@/components/TopAlert.astro';

// current path
const currentPath = Astro.url.pathname;

// metadata
const pageMetadata = metadata[currentPath] || {};
---

<!doctype html>
<html lang="es-MX">
	<head>
		<BaseHead {...pageMetadata} />
	</head>
	<body>
		<!--
		<TopAlert>
			Este es un mensaje importante para toda la universidad.
		</TopAlert>
		-->
		<Header/>
		<slot />
	</body>
</html>